/* Upper Header */

.upper-header-content {
    justify-content: space-between;
    align-items: center;
}

.upper-header-content>.side {
    font-size: 18px;
    min-width: 200px;
}

.upper-header-content>nav>ul {
    flex-direction: row;
    gap: 70px;
    text-align: center;
    flex-grow: 1;
}

.upper-header-content>nav>ul>li>a {
    font-size: 18px;
}

.upper-header-content>.logo.side {
    text-align: left;
}

.upper-header-content>.login.side {
    text-align: right;
}

#login-button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
}

/* Bottom Header */

.header-square {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    min-height: 600px;
    margin: 0 auto;
}

.header-square>h1 {
    font-size: 60px;
    padding: 30px 0;
}

.header-square>h2 {
    line-height: 35px;
    font-weight: 400;
}

.header-square>* {
    color: white;
}

.header-buttons {
    gap: 40px;
    padding: 30px 0;
}

.header-button.download::before {
    content: "\2193";
    margin-right: 5px;
}

.header-button.download {
    color: black;
}

.header-button {
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 50px;
}

.header-button.download {
    background-color: white;
}

.header-button.open {
    color: white;
    background-color: #23272A;
}

/* Main content */

.main-side {
    text-align: center;
    width: 70%;
}

.main-side>img {
    width: 800px;
}

.content-side {
    color: #23272A;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

/* Section 4 */

.large-box {
    color: #23272A;
    margin: 30px 0 100px 0;
    text-align: center;
    min-height: 100px;
}

.large-box>img {
    width: 85%;
}

.large-box-title {
    margin: 0px 200px;
}


.large-box>.download-adventure {
    margin: auto 450px;
    line-height: 55px;
    background-image: url("../img/stars.svg");
    background-size: contain;
    margin-bottom: 50px;
}

.large-box>.large-box-download-button::before {
    content: "\2193";
    margin-right: 5px;
}

.large-box>.large-box-download-button {
    background-color: #8EA1E1;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 50px;
}


/* Upper Footer */

.upper-footer-content {
    margin-top: 50px;
    border-bottom: 1px solid #7289DA;
}

.left-footer-box {
    width: calc(100% / 3);
    padding: 40px;
}

.left-footer-box>h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #7289DA;
}

.left-footer-box>span {
    color: white;
    margin: 10px 0;
    font-size: 14px;
}

.left-footer-box>span>p {
    display: inline-block;
    font-size: 14px;
}

.left-footer-box>span>img {
    margin-right: 5px;
    width: 24px;
}

.left-footer-box>span::after {
    content: "\142F";
    margin-left: 5px;
    font-size: 10px;
}

.left-footer-box>.footer-icons {
    margin-top: 15px;
    color: white;
    font-size: 24px;
}

.left-footer-box>.footer-icons>.fa-brands {
    margin-right: 15px;
}

.right-footer-box {
    width: calc(100% / 3 * 2);
}

.right-footer-internal-box {
    padding: 40px;
    width: 25%;
}

.right-footer-internal-box>p:first-child>a {
    font-weight: bolder;
    color: #7289DA;
}

.right-footer-internal-box>p {
    color: white;
    line-height: 32px;
    font-size: 16px;
    margin: 0;
}

/* Bottom Footer */

.bottom-footer-box {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#button-footer {
    background-color: #8EA1E1;
    border-radius: 50px;
    padding: 10px 15px;
}