/* Utils */

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.col {
	flex-direction: column;
}

.row-reverse {
	flex-direction: row-reverse;
}

.d-flex {
	display: flex;
}

.grey {
	background-color: rgba(0, 0, 0, 0.05);
}

.grey-waves {
	display: block;
	opacity: 5%;
}

.grey-waves.rotate-waves {
	transform: rotate(180deg);
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 28px;
}

p {
	margin-top: 30px;
	line-height: 25px;
	font-size: 20px;
}

/* Header */

.upper-header {
	background-color: #265EE8;
	padding: 20px 0;
}

#logo-img {
	width: 150px;
}

.bottom-header {
	background-image: url("../img/jumbo.png");
	background-size: cover;
	min-height: 600px;
}

/* Main */

.main-content.container {
	display: flex;
	padding: 50px 0;
}

/* Footer */

.upper-footer {
	background-color: #23272A;
	padding: 10px 0;
}

.bottom-footer {
	background-color: #23272A;
	padding-top: 20px;
}

.bottom-footer-box {
	padding: 20px 0;
	margin-bottom: 100px;
}